/* Common Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", serif;
}

/* Header Styles */
header {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  background: linear-gradient(180deg, #070211 0%, #07021100 100%),
    url("images/Banner Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  margin-bottom: 7.5rem;
}
.banner {
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  min-height: 600px;
  color: #ffffff;
}
.banner-info {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.banner-title {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 900;
  width: 640px;
}

/* Main Styles */
main {
  width: 1320px;
  margin: 0 auto;
}

/* Offer Card Styles */
.offer-card {
  margin-bottom: 7.5rem;
  text-align: center;
}
.offer-card h1 {
  color: #ff0000;
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.offer-card h6 {
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.offer-card h2 {
  color: #070211;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.offer-card img {
  height: 500px;
  width: auto;
}

/* Party Card Styles */
.party {
  height: 600px;
  background: linear-gradient(90deg, #070211 0%, #07021100 100%),
    url("images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  margin-bottom: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.party-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.party-card h1 {
  font-family: "Merriweather", serif;
  width: 640px;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
.party-card p {
  width: 690px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.party-card a {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 2rem;
  text-decoration: none;
}

/* Party Venue Styles */
.party-venue {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 1rem;
  margin-bottom: 7.5rem;
}
.party-venue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 3rem;
}
.party-venue-card p {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}
.party-venue-card span {
  color: #ff0000;
}
.party-venue-button {
  padding: 1rem 2rem;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: #ff0000;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Coming Soon Styles */
.coming-soon {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  height: 460px;
  margin-bottom: 7.5rem;
}
.coming-soon-left {
  width: 40%;
}
.coming-soon-left h4 {
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.coming-soon-left h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 1.375rem;
}
.coming-soon-left p {
  color: #07021199;
  font-size: 1.25rem;
  font-weight: 400;
}
.coming-soon-center {
  width: 364px;
  height: 364px;
  padding: 1rem;
  border: 15px solid #ff0000;
  border-radius: 50%;
}
.coming-soon-right {
  width: 40%;
}
.coming-soon-right h2 {
  color: #ff0000;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.coming-soon-right p {
  color: #07021199;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
.coming-soon-right img {
  width: 120px;
  height: 120px;
}

/* Discount Styles */
.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1320px;
  height: 980px;
  margin-bottom: 7.5rem;
}
.discount h6 {
  color: #070211;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.discount h1 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.discount h1 span {
  color: #ff0000;
}
.discount p {
  width: 80%;
  color: #07021199;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 4rem;
  text-align: center;
}
.discount-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1320px;
  height: 660px;
  border-radius: 1rem;
}
.image-1 {
  position: absolute;
  left: 0px;
  z-index: 1;
}
.image-2 {
  position: absolute;
  width: 300px;
  top: 80px;
  right: 275px;
  z-index: 1;
}
.image-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 430px;
  height: 440px;
}
.image-4 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 220px;
}

/* Portfolio Styles */
.portfolio {
  margin-bottom: 7.5rem;
}
.portfolio h5 {
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.portfolio h3 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 1.375rem;
}
.portfolio p {
  width: 80%;
  color: rgba(7, 2, 17, 0.6);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.portfolio-card {
  display: flex;
  column-gap: 1.5rem;
}
.portfolio-card-gap {
  margin-bottom: 1.5rem;
}
.portfolio-image {
  height: 450px;
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio-card img {
  transition: transform 0.5s ease;
}
.portfolio-card img:hover {
  transform: scale(1.2);
}

/* Newsletter Styles */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 620px;
  background: rgba(255, 0, 0, 0.05);
  border-radius: 1rem;
  margin-bottom: 7.5rem;
}
.newsletter img {
  width: 150px;
  height: 150px;
}
.newsletter h1 {
  font-family: "Merriweather", serif;
  color: #070211;
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.newsletter p {
  width: 70%;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.newsletter form {
  display: flex;
  column-gap: 0px;
}
#email {
  background-color: #ffffff;
  color: #0702114d;
  font-size: 1.125rem;
  width: 450px;
  padding: 1.563rem 1.875rem;
  border: none;
  border-radius: 3rem 0px 0px 3rem;
  outline: none;
}
#email:focus {
  color: #0702114d;
}
#submit {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.5rem 3.5rem;
  border: none;
  border-radius: 0px 3rem 3rem 0px;
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #070211;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 140px 120px;
}
footer hr {
  height: 1px;
  border: 0;
  background-color: #ffffff26;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer-address,
.footer-contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact-mobile,
.contact-email {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer-contact img {
  width: 1.25rem;
  height: 1.25rem;
}
.footer-social-menu {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-social-menu img {
  width: 45px;
  height: 45px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.footer-bottom a {
  text-decoration: none;
  color: #ffffff;
}
